# Resend API Key (for email notifications)
RESEND_API_KEY=

# Admin Email (where notifications will be sent)
ADMIN_EMAIL=ahjm91@gmail.com,ali@gcctaxi.net
ADMIN_PASSWORD=gcc1425taxi*

# Firebase Configuration (Optional if using firebase-applet-config.json)
FIREBASE_PROJECT_ID=
